/*
 * Eyelash Corne (3x6) - Miryoku-based keymap
 * Controller: nice!nano v2
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

// Layer definitions
#define BASE  0
#define NAV   1
#define MOUSE 2
#define MEDIA 3
#define NUM   4
#define SYM   5
#define FUN   6

/ {

    behaviors {

        // Left Home Row Mod
        hml: hml {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <
                // Right hand
                6  7  8  9  10 11
                18 19 20 21 22 23
                30 31 32 33 34 35
                // Right thumbs
                39 40 41
            >;
            hold-trigger-on-release;
        };

        // Right Home Row Mod
        hmr: hmr {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <
                // Left hand
                0  1  2  3  4  5
                12 13 14 15 16 17
                24 25 26 27 28 29
                // Left thumbs
                36 37 38
            >;
            hold-trigger-on-release;
        };

    };

    combos {
        compatible = "zmk,combos";

        // G + H → Fun layer
        combo_fun {
            timeout-ms = <50>;
            key-positions = <16 19>;
            bindings = <&mo FUN>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // ─────────────────────────────────────────────────────────────
        // BASE
        // ┌──────┬──────┬──────┬──────┬──────┬──────╥──────┬──────┬──────┬──────┬──────┬──────┐
        // │      │  Q   │  W   │  E   │  R   │  T   ║  Y   │  U   │  I   │  O   │  P   │      │
        // ├──────┼──────┼──────┼──────┼──────┼──────╫──────┼──────┼──────┼──────┼──────┼──────┤
        // │      │GUI/A │ALT/S │CTL/D │SFT/F │  G   ║  H   │SFT/J │CTL/K │ALT/L │GUI/; │      │
        // ├──────┼──────┼──────┼──────┼──────┼──────╫──────┼──────┼──────┼──────┼──────┼──────┤
        // │      │  Z   │  X   │  C   │  V   │  B   ║  N   │  M   │  ,   │  .   │  /   │      │
        // └──────┴──────┴──────┼──────┼──────┼──────╫──────┼──────┼──────┼──────┴──────┴──────┘
        //                      │MED/Es│NAV/Sp│MOU/Tb║SYM/En│NUM/Bs│ KANA │
        //                      └──────┴──────┴──────╨──────┴──────┴──────┘
        base_layer {
            display-name = "Base";
            bindings = <
                &none  &kp Q          &kp W          &kp E           &kp R           &kp T         &kp Y        &kp U           &kp I           &kp O          &kp P            &none
                &none  &hml LGUI A    &hml LALT S    &hml LCTRL D    &hml LSHFT F    &kp G         &kp H        &hmr RSHFT J    &hmr RCTRL K    &hmr RALT L    &hmr RGUI SEMI   &none
                &none  &kp Z          &kp X          &kp C           &kp V           &kp B         &kp N        &kp M           &kp COMMA       &kp DOT        &kp SLASH        &none
                                                     &lt MEDIA ESC   &lt NAV SPACE   &lt MOUSE TAB &lt SYM RET  &lt NUM BSPC    &kp KANA
            >;
        };

        // ─────────────────────────────────────────────────────────────
        // NAV
        // ┌──────┬──────┬──────┬──────┬──────┬──────╥──────┬──────┬──────┬──────┬──────┬──────┐
        // │      │      │      │      │      │      ║ Redo │Paste │ Copy │ Cut  │ Undo │      │
        // ├──────┼──────┼──────┼──────┼──────┼──────╫──────┼──────┼──────┼──────┼──────┼──────┤
        // │      │ GUI  │ ALT  │ CTL  │ SFT  │      ║  ←   │  ↓   │  ↑   │  →   │ Del  │      │
        // ├──────┼──────┼──────┼──────┼──────┼──────╫──────┼──────┼──────┼──────┼──────┼──────┤
        // │      │      │      │      │      │      ║ Home │ PgDn │ PgUp │ End  │ Ins  │      │
        // └──────┴──────┴──────┼──────┼──────┼──────╫──────┼──────┼──────┼──────┴──────┴──────┘
        //                      │      │ ///  │      ║ Ent  │ Bspc │ Del  │
        //                      └──────┴──────┴──────╨──────┴──────┴──────┘
        nav_layer {
            display-name = "Nav";
            bindings = <
                &none  &none      &none      &none       &none       &none     &kp LC(Y)  &kp LC(V)   &kp LC(C)   &kp LC(X)  &kp LC(Z)  &none
                &none  &kp LGUI   &kp LALT   &kp LCTRL   &kp LSHFT   &none     &kp LEFT   &kp DOWN    &kp UP      &kp RIGHT  &kp DEL    &none
                &none  &none      &none      &none       &none       &none     &kp HOME   &kp PG_DN   &kp PG_UP   &kp END    &kp INS    &none
                                             &none       &none       &none     &kp RET    &kp BSPC    &kp DEL
            >;
        };

        // ─────────────────────────────────────────────────────────────
        // MOUSE
        // ┌──────┬──────┬──────┬──────┬──────┬──────╥──────┬──────┬──────┬──────┬──────┬──────┐
        // │      │      │      │      │      │      ║      │      │  M↑  │      │      │      │
        // ├──────┼──────┼──────┼──────┼──────┼──────╫──────┼──────┼──────┼──────┼──────┼──────┤
        // │      │ GUI  │ ALT  │ CTL  │ SFT  │      ║  M←  │  M↓  │  M↑  │  M→  │      │      │
        // ├──────┼──────┼──────┼──────┼──────┼──────╫──────┼──────┼──────┼──────┼──────┼──────┤
        // │      │      │      │      │      │      ║      │ ScDn │ ScUp │      │      │      │
        // └──────┴──────┴──────┼──────┼──────┼──────╫──────┼──────┼──────┼──────┴──────┴──────┘
        //                      │      │      │ ///  ║ RClk │ LClk │ MClk │
        //                      └──────┴──────┴──────╨──────┴──────┴──────┘
        mouse_layer {
            display-name = "Mouse";
            bindings = <
                &none  &none      &none      &none       &none       &none     &none           &none              &mmv MOVE_UP    &none               &none  &none
                &none  &kp LGUI   &kp LALT   &kp LCTRL   &kp LSHFT   &none     &mmv MOVE_LEFT  &mmv MOVE_DOWN     &mmv MOVE_UP    &mmv MOVE_RIGHT     &none  &none
                &none  &none      &none      &none       &none       &none     &none           &msc SCRL_DOWN     &msc SCRL_UP    &none               &none  &none
                                             &none       &none       &none     &mkp RCLK       &mkp LCLK          &mkp MCLK
            >;
        };

        // ─────────────────────────────────────────────────────────────
        // MEDIA
        // ┌──────┬──────┬──────┬──────┬──────┬──────╥──────┬──────┬──────┬──────┬──────┬──────┐
        // │      │      │      │      │      │      ║      │      │      │      │      │      │
        // ├──────┼──────┼──────┼──────┼──────┼──────╫──────┼──────┼──────┼──────┼──────┼──────┤
        // │      │ GUI  │ ALT  │ CTL  │ SFT  │      ║ Prev │ VolD │ VolU │ Next │      │      │
        // ├──────┼──────┼──────┼──────┼──────┼──────╫──────┼──────┼──────┼──────┼──────┼──────┤
        // │      │      │      │      │      │      ║      │      │      │      │      │      │
        // └──────┴──────┴──────┼──────┼──────┼──────╫──────┼──────┼──────┼──────┴──────┴──────┘
        //                      │ ///  │      │      ║ Mute │ Play │ Stop │
        //                      └──────┴──────┴──────╨──────┴──────┴──────┘
        media_layer {
            display-name = "Media";
            bindings = <
                &none  &none      &none      &none       &none       &none     &none        &none          &none          &none        &none  &none
                &none  &kp LGUI   &kp LALT   &kp LCTRL   &kp LSHFT   &none     &kp C_PREV   &kp C_VOL_DN   &kp C_VOL_UP   &kp C_NEXT   &none  &none
                &none  &none      &none      &none       &none       &none     &none        &none          &none          &none        &none  &none
                                             &none       &none       &none     &kp C_MUTE   &kp C_PP       &kp C_STOP
            >;
        };

        // ─────────────────────────────────────────────────────────────
        // NUM
        // ┌──────┬──────┬──────┬──────┬──────┬──────╥──────┬──────┬──────┬──────┬──────┬──────┐
        // │      │  [   │  7   │  8   │  9   │  ]   ║      │      │      │      │      │      │
        // ├──────┼──────┼──────┼──────┼──────┼──────╫──────┼──────┼──────┼──────┼──────┼──────┤
        // │      │  ;   │  4   │  5   │  6   │  =   ║      │ SFT  │ CTL  │ ALT  │ GUI  │      │
        // ├──────┼──────┼──────┼──────┼──────┼──────╫──────┼──────┼──────┼──────┼──────┼──────┤
        // │      │  `   │  1   │  2   │  3   │  \   ║      │      │      │      │      │      │
        // └──────┴──────┴──────┼──────┼──────┼──────╫──────┼──────┼──────┼──────┴──────┴──────┘
        //                      │  .   │  0   │  -   ║      │ ///  │      │
        //                      └──────┴──────┴──────╨──────┴──────┴──────┘
        num_layer {
            display-name = "Num";
            bindings = <
                &none  &kp LBKT   &kp N7  &kp N8   &kp N9  &kp RBKT     &none  &none       &none       &none      &none      &none
                &none  &kp SEMI   &kp N4  &kp N5   &kp N6  &kp EQUAL    &none  &kp RSHFT   &kp RCTRL   &kp RALT   &kp RGUI   &none
                &none  &kp GRAVE  &kp N1  &kp N2   &kp N3  &kp BSLH     &none  &none       &none       &none      &none      &none
                                          &kp DOT  &kp N0  &kp MINUS    &none  &none       &none
            >;
        };

        // ─────────────────────────────────────────────────────────────
        // SYM
        // ┌──────┬──────┬──────┬──────┬──────┬──────╥──────┬──────┬──────┬──────┬──────┬──────┐
        // │      │  {   │  &   │  *   │  (   │  }   ║      │      │      │      │      │      │
        // ├──────┼──────┼──────┼──────┼──────┼──────╫──────┼──────┼──────┼──────┼──────┼──────┤
        // │      │  :   │  $   │  %   │  ^   │  +   ║      │ SFT  │ CTL  │ ALT  │ GUI  │      │
        // ├──────┼──────┼──────┼──────┼──────┼──────╫──────┼──────┼──────┼──────┼──────┼──────┤
        // │      │  ~   │  !   │  @   │  #   │  |   ║      │      │      │      │      │      │
        // └──────┴──────┴──────┼──────┼──────┼──────╫──────┼──────┼──────┼──────┴──────┴──────┘
        //                      │  (   │  )   │  _   ║ ///  │      │      │
        //                      └──────┴──────┴──────╨──────┴──────┴──────┘
        sym_layer {
            display-name = "Sym";
            bindings = <
                &none  &kp LBRC   &kp AMPS  &kp ASTRK  &kp LPAR   &kp RBRC     &none  &none       &none       &none      &none      &none
                &none  &kp COLON  &kp DLLR  &kp PRCNT  &kp CARET  &kp PLUS     &none  &kp RSHFT   &kp RCTRL   &kp RALT   &kp RGUI   &none
                &none  &kp TILDE  &kp EXCL  &kp AT     &kp HASH   &kp PIPE     &none  &none       &none       &none      &none      &none
                                            &kp LPAR   &kp RPAR   &kp UNDER    &none  &none       &none
            >;
        };

        // ─────────────────────────────────────────────────────────────
        // FUN  (G + H コンボで起動)
        // ┌──────┬──────┬──────┬──────┬──────┬──────╥──────┬──────┬──────┬──────┬──────┬──────┐
        // │      │ F12  │  F7  │  F8  │  F9  │PrtSc ║      │      │      │      │      │      │
        // ├──────┼──────┼──────┼──────┼──────┼──────╫──────┼──────┼──────┼──────┼──────┼──────┤
        // │      │ F11  │  F4  │  F5  │  F6  │ScLck ║      │ SFT  │ CTL  │ ALT  │ GUI  │      │
        // ├──────┼──────┼──────┼──────┼──────┼──────╫──────┼──────┼──────┼──────┼──────┼──────┤
        // │      │ F10  │  F1  │  F2  │  F3  │Pause ║      │      │      │      │      │      │
        // └──────┴──────┴──────┼──────┼──────┼──────╫──────┼──────┼──────┼──────┴──────┴──────┘
        //                      │ Esc  │ Spc  │ Tab  ║      │      │      │
        //                      └──────┴──────┴──────╨──────┴──────┴──────┘
        fun_layer {
            display-name = "Fun";
            bindings = <
                &none  &kp F12  &kp F7  &kp F8    &kp F9  &kp PSCRN          &none  &none       &none       &none      &none      &none
                &none  &kp F11  &kp F4  &kp F5    &kp F6  &kp SLCK           &none  &kp RSHFT   &kp RCTRL   &kp RALT   &kp RGUI   &none
                &none  &kp F10  &kp F1  &kp F2    &kp F3  &kp PAUSE_BREAK    &none  &none       &none       &none      &none      &none
                                        &kp ESC   &kp SPACE &kp TAB          &none  &none       &none
            >;
        };

    };
};
